- name: Update APT cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  register: apt_update
  retries: 3
  delay: 30
  until: apt_update is success
  when: ansible_os_family == "Debian"

- name: Install MySQL server on Debian family
  ansible.builtin.apt:
    name:
      - "mysql-server={{ mysql_version }}*"
      - mysql-shell
    state: present
    update_cache: no
  register: apt_install
  retries: 5
  delay: 60
  until: apt_install is success
  when: ansible_os_family == "Debian"

- name: Install MySQL packages on RedHat family
  ansible.builtin.yum:
    name:
      - "mysql-community-server-{{ mysql_version }}*"
      - mysql-shell
    state: present
  register: yum_install
  retries: 5
  delay: 60
  until: yum_install is success
  when: ansible_os_family == "RedHat"

- name: Install PyMySQL for Python3 on Debian-based systems
  ansible.builtin.apt:
    name: python3-pymysql
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"
  become: true

- name: Install pip3 on RHEL-based systems
  ansible.builtin.yum:
    name: python3-pip
    state: present
  when: ansible_os_family == "RedHat"
  become: true

- name: Install PyMySQL and cryptography for Python3 on RHEL-based systems
  ansible.builtin.pip:
    name:
      - PyMySQL
      - cryptography
    executable: /usr/bin/pip3
  when: ansible_os_family == "RedHat"
  become: true


